<template>
  <main>
    <h1>Server Message: {{ data.message }}</h1>
  </main>
</template>
<script setup>
const dataPath = "http://localhost:8000/hello"

// all data from endpoint goes here
const { data } = await useFetch( dataPath )

</script>